ChatterBot==1.0.4
geocoder==1.38.1
geographiclib==1.50
geopy==2.1.0
google-auth==1.24.0
google-auth-oauthlib==0.4.2
googlesearch-python==2020.0.2
imagesize==1.2.0
keyboard==0.13.5
PyAudio==0.2.11
pygame==2.0.0
pyjokes==0.6.0
pyperclip==1.8.1
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3
pywhatkit==3.9
QtPy==1.9.0
regex==2020.11.13
SpeechRecognition==3.8.1
wikipedia==1.4.0
win10toast==0.9
wolframalpha==4.1.1
